/* global */
body * {
  font-family: 'PT Sans', Arial,sans-serif;
}

/* menu */
#menu .weblearn-icon {
  display: block;
  height: 80px;
  width: 80px;
  margin: 10px auto;
  background: url('../images/weblearn-logo.png') center center no-repeat;
}

#menu .pure-menu-selected,
#menu .pure-menu-heading {
  background: #002147;
}

/* main */
#main {
  padding: 0;
  margin: 0;
}
#menu .active {
  background: #a52100;
}
#menu .active:hover,
#menu .active:focus {
  background: #82655e;
}
#menu .active * {
  color: #fff;
}

#main a {
  color: #383838;
  font-weight: bold;
  text-decoration: none;
}
#main a:hover {
  color: #a52100;
}

#main .header {
  padding-top: 30px;
  padding-bottom: 15px;
}
#main .header a {
  background: url('../images/weblearn-logo.png') 0 center no-repeat;
  padding: 0 80px 0 80px;
}
#main .content {

}
#main .page {
  box-sizing: border-box;
}
#main .content img {
  border: 1px solid #ccc;
  margin: 3px;
  max-width: 100%;
  height: auto;
}

/* footer */
#main .footer {
  background: #002147 url('../images/copyright-images.png') 10px center no-repeat;
  color: #fff;
  padding: 10px 10px 10px 190px;
  overflow: hidden;
}
#main .footer .legal-license {
  display: block;
  width: 40%;
  float: right;
  text-align: right;
}
#main .footer .legal-copyright {
  display: block;
  width: 60%;
  float: left;
  min-height: 80px;
  box-sizing: border-box;
}

@media (max-width: 48em) {
  #main .footer .legal-copyright {
    width: 100%;
  }
  #main .footer .legal-license {
    display: none;
  }
}
